@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #7b2cbf;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.calculator{
    width: 300px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.calculator h2{
    font-size: 25px;
    text-align: center;
    color: #5a189a;
    margin-bottom: 40px;
}
.input{
    margin: 20px 0;
}
.input label{
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.input input{
    outline: none;
    border: none;
    border-bottom: 1px solid #7b2cbf;
    width: 50%;
    font-size: 20px;
}
.button button{
    background-color: #7b2cbf;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    margin: 20px 0 10px 0;
    cursor: pointer;
    transition: background .2s ease;
}
.button button:hover{
    background-color: #3c096c;
}
.result p{
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin: 15px 0;
}
.result #result{
    font-size: 25px;
    font-weight: 800;
    color: #9d4edd;
    background-color: #eaeaea;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;
}
#comment{
    color: #9d4edd;
    font-weight: 700;
}